body{
    background-color: #f0e3d2;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


header{
    margin: 0%;
    margin-left: 1.5em;
    padding: 0%;
    width: 80%;
    height: 80%;

}

ul{
list-style: none;
display:flex;
justify-content: center;
}

li{

}

a:visited {
    text-decoration: none;
    color: darkgray;
}

footer{
    background: grey;
}

